.summary_card {
  background: #fff0f3;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
}
.summary_card_title {
  font-size: 20px;
  color: #1a1a1a;
  font-weight: 700;
}
.summary_content {
  display: flex;
}
.summary_card_text {
  color: rgba(0, 0, 0, 0.38);
  font-size: 12px;
  font-weight: 400;
}
.summary_card_content {
  color: #333333;
  font-size: 16px;
  font-weight: 700;
}

.toggle_button {
  padding: 0 24px;
  font-size: 16px;
  height: inherit;

  border-radius: 0px;
}

.slide_tab_red {
  border: none;
  color: #1a1a1a;
  border-radius: 0px;
  height: inherit;
  border: 1px solid #f2f2f2;
  font-weight: 500;
  border-top: 2px solid red;
}

.slide_tab_red_one {
  border-radius: 12px 0px 0px 12px;
}
.slide_tab_red_one:hover {
  border-radius: 12px 0px 0px 12px;
}
.divider_modify {
  height: 40px;

  border-color: red;
}
